@media screen and (max-width: 767px){
div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
    text-align: center;
    padding-top: 50px !important;
}

div.dt-buttons {
    float: none;
    width: 93% !important;
    text-align: center;
    margin-bottom: 0.5em;
}
}




/* #boton_proyecto{
    justify-content: center;
} */
/* inicio de footer */

  
/* fin de footer */